{
  "extends": "eslint:recommended",
  "plugins": ["react"],
  "ecmaFeatures": {
              "jsx": true,
              "es6": true,
              "modules": true,
              "browser": true,
              "jasmine": true
  },
  "globals": {
  },
  "env": {
      "node": true,
      "browser": true
  },
  "rules": {
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-single"]
  }
}
